{% extends 'PGamersApp/base.html' %}

{% block js %}

    <script>
        function EliminarProducto(id) {
            Swal.fire({
                "title":"¿Estas seguro?",
                "text":"Esta accion no se puede deshacer",
                "icon":"question",
                "showCancelButton":true,
                "cancelButtonText":"No, Cancelar",
                "confirmButtonText":"Si, Eliminar",
                "reverseButtons":true,
                "confirmButtonColor":"darkRed",
            })

            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href ="/eliminar-producto/"+id+"/"
                }
            })
            
        }

    </script>

{% endblock %}

{% block content%}

{% load humanize %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h2>Listado de productos</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Fecha Fabricacion</th>
                    <th>Opciones</th>
                </tr>

                {% for p in entity %}

                <tr>
                    <td>{{ p.nombre | title }}</td>
                    <td>{{ p.marca | title }}</td>
                    <td>${{ p.precio | intcomma }}</td>
                    <td>{{ p.descripcion | title }}</td>
                    <td>{{ p.fec_fabricacion| title }}</td>
                    <td>
                        {% if perms.PGamersApp.change_producto%}
                        <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                        {% endif %}

                        {% if perms.PGamersApp.delete_producto%}
                        <a href="#" onclick="EliminarProducto({{ p.id }})"  class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
                
            </table>

            <hr>
            
            {% if perms.PGamersApp.add_producto%}
            <a href="{% url 'agregar_producto' %}" class="btn btn-primary btn-sm">Agregar Producto</a> |
            {% endif %}
            
            {% if perms.PGamersApp.view_marca%}
            <a href="{% url 'marcas' %}" class="btn btn-secondary btn-sm">Administrar Marcas</a> |
            {% endif %}

            <a href="{% url 'inicio' %}" class="btn btn-info btn-sm">Inicio</a>

            <div>
                {% include 'Pedido/paginator.html' %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}