{% extends 'PGamersApp/base.html' %}

{% block content %}

    {% load crispy_forms_tags %}
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Nuevo Producto</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}

                        <hr>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'marcas' %}" class="btn btn-secondary">Volver</a>
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                    </form>
                    {{ mensaje }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}