{% extends 'PGamersApp/base.html' %}  <!-- Herencia de la pagina base -->

{% block js %} <!-- Block para archivos JavaScript-->
    
    <!-- Funcion que envia un mensaje en pantalla al usuario, para preguntar si esta 
         seguro de eliminar el pedido seleccionado -->
    <script> 
        function EliminarPedido(id) { 
            Swal.fire({
                "title":"¿Estas seguro?",
                "text":"Esta accion no se puede deshacer",
                "icon":"question",
                "showCancelButton":true,
                "cancelButtonText":"No, Cancelar",
                "confirmButtonText":"Si, Eliminar",
                "reverseButtons":true,
                "confirmButtonColor":"darkRed",
            })

            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href ="/eliminar-pedido/"+id+"/"
                }
            })
            
        }

    </script>

{% endblock %}

{% block content%} <!-- Block del contenido de la pagina -->

{% load humanize %} <!-- Cargar humanize, lo cual es una serie de filtros para agregar un toque humano a los datos,
                        una funcion de este es intcomma, para colocar los respectivos puntos a los precios. -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h2>Listado de pedidos</h2>
            <hr>
            
            <table class="table table-striped table-hover table-responsive-xl"> <!-- Creacion de la tabla de listado de pedidos-->
                <tr> <!-- Encabezados de la tabla-->
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total Producto<th>
                    <th>Opciones</th>
                </tr>

                {% for p in entity %} <!-- Ciclo for para recorrer los pedidos existentes -->

                <tr> <!-- Contenido de la tabla -->
                    <td>{{ p.rut | title }}</td>
                    <td>{{ p.nombre | title }}</td>
                    <td>{{ p.apellido | title }}</td>
                    <td>{{ p.correo | title }}</td>
                    <td>{{ p.producto | title }}</td>
                    <td>{{ p.cantidad | intcomma }}</td>
                    <td>${{ p.total | intcomma }}</td>
                    <td>
                        <a href="{% url 'modificar_pedido' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                        <a href="#" onclick="EliminarPedido({{ p.id }})"  class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}
                
            </table>

            <div>
                {% include 'Pedido/paginator.html' %} <!-- incluye la pagina del paginador-->
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}