{% extends 'PGamersApp/base.html' %}

{% block js %}

    <script>
        function EliminarPedido(id) {
            Swal.fire({
                "title":"¿Estas seguro?",
                "text":"Esta accion no se puede deshacer",
                "icon":"question",
                "showCancelButton":true,
                "cancelButtonText":"No, Cancelar",
                "confirmButtonText":"Si, Eliminar",
                "reverseButtons":true,
                "confirmButtonColor":"darkRed",
            })

            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href ="/eliminar-pedido/"+id+"/"
                }
            })
            
        }

    </script>

{% endblock %}

{% block content%}

{% load humanize %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h2>Listado de productos</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Correo</th>
                    <th>Fecha Pedido</th>
                    <th>Producto</th>
                    <th>Opciones</th>
                </tr>

                {% for p in entity %}

                <tr>
                    <td>{{ p.rut | title }}</td>
                    <td>{{ p.nombres | title }}</td>
                    <td>{{ p.a_paterno | title }}</td>
                    <td>{{ p.a_materno | title }}</td>
                    <td>{{ p.correo | title }}</td>
                    <td>{{ p.fec_pedido | title }}</td>
                    <td>{{ p.producto | title }}</td>
                    <td>
                        <a href="{% url 'modificar_pedido' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                        <a href="#" onclick="EliminarPedido({{ p.id }})"  class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}
                
            </table>

            <div>
                {% include 'Pedido/paginator.html' %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}