{% extends 'PGamersApp/base.html'%} <!-- Herencia de la pagina base -->

{% load static %} <!-- Cargar carpetas estaticas -->


{% block content %} <!-- Block del contenido de la pagina -->
    <header>
        <div class="flexslider"> <!-- Slider con sus respectivas imagenes -->
            <ul class="slides">
                <li>
                    <img src="{% static 'img/imagen_slider_1.png/' %}" alt="" class="img-fluid"/>
                </li>
                <li>
                    <img src="{% static 'img/imagen_slider_2.png/' %}" alt="" class="img-fluid"/>
                </li>
                <li>
                    <img src="{% static 'img/imagen_slider_3.png/' %}" alt="" class="img-fluid"/>
                </li>
            </ul>
        </div>
    </header>

    <br>
    <br>
    <br>
    
    <hr style="border: 2px solid black; margin: 20px 0;">

    <br>

    {% load humanize %}

    <h1 style="text-align: center; margin-bottom: 50px;"> -> Nuestros Productos <- <h1>

    <div id="contenido">
        <div class="productos">
            {% for p in productos %} <!-- Ciclo for para recorrer los productos almacenados -->
                <div class="producto">

                    <div class="contenedor_producto"> <!-- Contenido del producto-->
                        {% if p.imagen %} <!-- Si el producto presenta imagen, esta se muestra -->
                        <img src="{{ p.imagen.url }}" alt="imagen producto">
                        {% endif %}
                        <div class="detalle">
                            <h5>{{ p.marca | capfirst }}</h5>
                            <h2>{{ p.nombre | title }}</h2>
                            <h3>${{ p.precio | intcomma }}</h3>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    <hr style="border: 2px solid black; margin: 50px 0;">
    <br>
    <br>
    <br>
{% endblock %}