{% extends 'PGamersApp/base.html' %} <!-- Herencia de la pagina base -->

{% load static %} <!-- Cargar carpetas estaticas -->

{% block content%} <!-- Block del contenido de la pagina -->

        {% load crispy_forms_tags %} <!-- Cargar crispy-from -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="contenedor-form"
            <div class="row"> 
                <!-- Smartphone 12 Columnas -> Mediano 6 columnas -> relleno en mediano de 3 columnas -->
                <div class="col-12 col-md-6 offset-md-3"> 
                    <div class="card">
                        <div class="card-body" style="border: 0.2px solid black; padding: 50px;">

                            <h2>Contactanos!</h2>
                            <hr>

                            <form action="" method="POST"> <!-- Crear formulario con metodo POST -->

                            {% csrf_token %} <!-- Aplicar csrf_token para seguridad de los datos -->

                            {{ form | crispy }}  <!-- Carga el formulario generado por django y le aplica estilos de crispy-form -->

                            <hr>
                            
                            <a href="{% url 'inicio' %}">Inicio</a> |
                            <button type="submit" id="btnEnviar" class="btn btn-primary" style="width: 100%; margin-top: 20px;">Enviar</button>

                            </form>
                            {{ mensaje }} <!-- Cargar mensaje de exito cuando se registre un pedido -->

                        </div>
                    </div>
                


                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

        <table id="tablacontactos">
                
        </table>
        

{% endblock %}